<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <connectionStrings>
        <add name="Serilog" connectionString="Data Source=.;Initial Catalog=SerilogEvaluation;Integrated Security=True;App=SerilogEvaluation"/>
    </connectionStrings>
    <appSettings>
        <!--Verbose, Debug, Information, Warning, Error, Fatal-->
        <add key="serilog:minimum-level" value="Debug" />

        <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
        <add key="serilog:write-to:Console" value="false" />

        <add key="serilog:using:File" value="Serilog.Sinks.File" />
        <add key="serilog:write-to:File.path" value="Logs/Application.log" />
        <add key="serilog:write-to:File.rollingInterval" value="Day" />

    </appSettings>
  <runtime>
  </runtime>
</configuration>